#cloud-config
manage_etc_hosts: true
fqdn: {{ fqdn }}
hostname: {{ hostname }}
users:
  - default
  - name: ansible
    gecos: ansible
    shell: /bin/bash
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    ssh_pwauth: False
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDA+VIgogJ1b3MbgQQPT4SuMF+DjLjTybTPcuTnImLFlkrEq+HS6ZVNVkw1rqUnEiZVJCzLNk2h9mXSIo0E0R/2CmlOaF1tYu3Rlx26dMDaBsHtfe0ZG+7JkX8V9I0v0+g0JKC9AlkJemrezneaYY0HzaLkuCGoLE320xT4Tbn8MXfV8EgyPGkfnA54JrhblBFbgVxDN7S6/2hmL9XF/Wjt/XsdQSXjTkYV6QyfavyBfKcU8B/KpDOpC6lgCh5Z5g3aCtyVLxS2wKH2HWOMN4QMHWe/2L9ZxRf3pDve3Bg9mr6GnbndICpptMhp/Wo7OuDkFMiY5EV0DsiWTqu/+H/h
apt_upgrade: true
apt_mirror: http://us.archive.ubuntu.com/ubuntu/
apt_sources:
  - source: "deb http://ppa.launchpad.net/ondrej/php/ubuntu xenial main"
    keyid: E5267A6C
    filename: ondrej-php-ppa.list
  - source: "deb http://ppa.launchpad.net/ondrej/apache2/ubuntu xenial main"
    keyid: E5267A6C
    filename: ondrej-apache2-ppa.list
packages:
  - python-software-properties
  - software-properties-common
  - language-pack-en-base
  - apache2
  - php7.2
  - memcached
  - libmemcached-tools
  - php-pear
  - php7.2-curl
  - php7.2-dev
  - php7.2-gd
  - php7.2-mbstring
  - php7.2-zip
  - php7.2-mysql
  - php7.2-xml
  - mysql-server
  - mysql-client
  - php-memcached
write_files:
  - path: /root/env.php
    content: |
      <?php
      define( 'DB_NAME', '{{ db_name }}' );
      define( 'DB_USER', '{{ db_user }}' );
      define( 'DB_PASSWORD', '{{ db_password }}' );
      define( 'DB_HOST', '{{ db_host }}' );
      define( 'BBDB_NAME', DB_NAME );
      define( 'BBDB_USER', DB_USER );
      define( 'BBDB_PASSWORD', DB_PASSWORD );
      define( 'BBDB_HOST', DB_HOST );
      define( 'WP_DEBUG', $is_debug );
      define( 'WP_DEBUG_DISPLAY', false );
      define( 'WP_DEBUG_LOG', true );
      define( 'SCRIPT_DEBUG', true );
      define( 'DO_SHARDB', {{ do_shardb }} );
      $shardb_prefix = '{{ shardb_prefix }}';
      $shardb_dataset = '{{ shardb_dataset }}';
      define( 'DOMAIN_CURRENT_SITE', '{{ domain_current_site }}' );
      define( 'PATH_CURRENT_SITE', '/' );
      define( 'WPCOM_API_KEY', '{{ wpcom_api_key }}' );
      define( 'GF_LICENSE_KEY', '{{ gf_license_key }}' );
      define( 'GRAVITYPERKS_LICENSE_KEY', '{{ gravityperks_license_key }}' );
  - path: /etc/apache2/sites-available/{{ fqdn }}.conf
    content: |
      <VirtualHost *:80>
          ServerAdmin {{ sysadmin_email }}
          ServerName {{ fqdn }}
          DocumentRoot /var/www/{{ hostname }}/public_html
          ErrorLog ${APACHE_LOG_DIR}/error.log
          CustomLog ${APACHE_LOG_DIR}/access.log combined
      </VirtualHost>
runcmd:
  - update-alternatives --set php /usr/bin/php7.2
  - a2enmod php7.2
  - a2ensite {{ fqdn }}.conf
  - a2dissite 000-default.conf
  - systemctl restart apache2
  - mkdir -p /var/www/{{ hostname }}/public_html
  - git clone http://github.com/livinglab/openlab.git /var/www/{{ hostname }}/public_html/
  - mv /root/env.php /var/www/{{ hostname }}/public_html/
  - echo '<?php phpinfo();' > /var/www/{{ hostname }}/public_html/phpinfo.php
  - sed -i 's/^-m 64/-m 512/g' /etc/memcached.conf
  - systemctl restart memcached
