#cloud-config
manage_etc_hosts: true
fqdn: {{ fqdn }}
hostname: {{ hostname }}
users:
  - default
  - name: ansible
    gecos: ansible
    shell: /bin/bash
    sudo: [ "ALL=(ALL) NOPASSWD:ALL" ]
    ssh_pwauth: False
    ssh_import_id:
      - gh:apitanga
  - name: boone
    gecos: boone
    shell: /bin/bash
    sudo: [ "ALL=(ALL) NOPASSWD:ALL" ]
    ssh_pwauth: False
    ssh_import_id:
      - gh:boonebgorges
mounts:
- [ xvdb, /data, "auto","defaults,nofail", "0", "0 "]
fs_setup:
 - label: none
   filesystem: 'ext4'
   device: '/dev/xvdb'
   partition: auto
apt_upgrade: true
apt_mirror: http://us.archive.ubuntu.com/ubuntu/
apt_sources:
  - source: "deb http://ppa.launchpad.net/ondrej/php/ubuntu xenial main"
    keyid: E5267A6C
    filename: ondrej-php-ppa.list
  - source: "deb http://ppa.launchpad.net/ondrej/apache2/ubuntu xenial main"
    keyid: E5267A6C
    filename: ondrej-apache2-ppa.list
packages:
  - python-software-properties
  - software-properties-common
  - language-pack-en-base
  - apache2
  - php7.2
  - memcached
  - libmemcached-tools
  - php-pear
  - php7.2-curl
  - php7.2-dev
  - php7.2-gd
  - php7.2-mbstring
  - php7.2-zip
  - php7.2-mysql
  - php7.2-xml
  - mysql-server
  - mysql-client
  - php-memcached
write_files:
  - path: /root/env.php
    content: |
      <?php
      define( 'DB_NAME', '{{ db_name }}' );
      define( 'DB_USER', '{{ db_user }}' );
      define( 'DB_PASSWORD', '{{ db_password }}' );
      define( 'DB_HOST', '{{ db_host }}' );
      define( 'BBDB_NAME', DB_NAME );
      define( 'BBDB_USER', DB_USER );
      define( 'BBDB_PASSWORD', DB_PASSWORD );
      define( 'BBDB_HOST', DB_HOST );
      define( 'WP_DEBUG', $is_debug );
      define( 'WP_DEBUG_DISPLAY', false );
      define( 'WP_DEBUG_LOG', true );
      define( 'SCRIPT_DEBUG', true );
      define( 'DO_SHARDB', {{ do_shardb }} );
      $shardb_prefix = '{{ shardb_prefix }}';
      $shardb_dataset = '{{ shardb_dataset }}';
      define( 'DOMAIN_CURRENT_SITE', '{{ domain_current_site }}' );
      define( 'PATH_CURRENT_SITE', '/' );
      define( 'WPCOM_API_KEY', '{{ wpcom_api_key }}' );
      define( 'GF_LICENSE_KEY', '{{ gf_license_key }}' );
      define( 'GRAVITYPERKS_LICENSE_KEY', '{{ gravityperks_license_key }}' );
      define( 'OPENLAB_CACHE_ENGINE', 'memcached' );
  - path: /etc/apache2/sites-available/{{ fqdn }}.conf
    content: |
      <VirtualHost *:80>
          ServerAdmin {{ sysadmin_email }}
          ServerName {{ fqdn }}
          DocumentRoot /data/www/{{ hostname }}/public_html
          ErrorLog ${APACHE_LOG_DIR}/error.log
          CustomLog ${APACHE_LOG_DIR}/access.log combined
          <Directory />
                Options FollowSymLinks
                AllowOverride All
          </Directory>
          <Directory /data/www/{{ hostname }}/public_html>
                Options Indexes FollowSymLinks MultiViews
                AllowOverride All
                Require all granted
        </Directory>
      </VirtualHost>
  - path: /etc/apache2/sites-available/default-ssl.conf
    content: |
      <IfModule mod_ssl.c>
        <VirtualHost _default_:443>
                ServerAdmin {{ sysadmin_email }}
                DocumentRoot /data/www/{{ hostname }}/public_html
                ErrorLog ${APACHE_LOG_DIR}/error.log
                CustomLog ${APACHE_LOG_DIR}/access.log combined
                SSLEngine on
                SSLCertificateFile      /etc/ssl/certs/ssl-cert-openlab.pem
                SSLCertificateKeyFile /etc/ssl/private/ssl-cert-openlab.key
                <FilesMatch "\.(cgi|shtml|phtml|php)$">
                                SSLOptions +StdEnvVars
                </FilesMatch>
                <Directory /usr/lib/cgi-bin>
                                SSLOptions +StdEnvVars
                </Directory>
                <Directory />
                    Options FollowSymLinks
                    AllowOverride None
                </Directory>
                <Directory /data/www/{{ hostname }}/public_html>
                    Options Indexes FollowSymLinks MultiViews
                    AllowOverride All
                    Require all granted
                </Directory>
        </VirtualHost>
      </IfModule>
runcmd:
  - update-alternatives --set php /usr/bin/php7.2
  - a2enmod php7.2
  - a2ensite {{ fqdn }}.conf
  - a2dissite 000-default.conf
  - systemctl restart apache2
  - mkdir -p /data/www/{{ hostname }}/public_html
  - git clone -b php-upgrade --single-branch http://github.com/livinglab/openlab.git /data/www/{{ hostname }}/public_html/
  - mv /root/env.php /data/www/{{ hostname }}/public_html/
  - echo '<?php phpinfo();' > /data/www/{{ hostname }}/public_html/phpinfo.php
  - openssl req -new -newkey rsa:4096 -days 365 -nodes -x509 -subj "/C=US/ST=NY/L=Brooklyn/O=OpenLab/CN=openlab.city.tech.cuny.edu" -keyout /etc/ssl/private/ssl-cert-openlab.key -out /etc/ssl/certs/ssl-cert-openlab.pem
  - a2enmod ssl
  - a2enmod headers
  - a2enmod rewrite
  - a2enmod authz_groupfile
  - a2ensite default-ssl
  - systemctl restart apache2
  - sed -i 's/^-m 64/-m 512/g' /etc/memcached.conf
  - systemctl restart memcached
  - curl https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar > /usr/local/bin/wp
  - chmod +x /usr/local/bin/wp
  - systemctl stop mysql
  - mv /var/lib/mysql /data
  - ln -s /data/mysql /var/lib/mysql
  - echo 'alias /var/lib/mysql/ -> /data/mysql/,' >> /etc/apparmor.d/tunables/alias
  - systemctl restart apparmor
  - systemctl restart mysql
