#cloud-config
hostname: {{ hostname }}
users:
  - default
  - name: ansible
    gecos: ansible
    shell: /bin/bash
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    ssh_pwauth: False
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDA+VIgogJ1b3MbgQQPT4SuMF+DjLjTybTPcuTnImLFlkrEq+HS6ZVNVkw1rqUnEiZVJCzLNk2h9mXSIo0E0R/2CmlOaF1tYu3Rlx26dMDaBsHtfe0ZG+7JkX8V9I0v0+g0JKC9AlkJemrezneaYY0HzaLkuCGoLE320xT4Tbn8MXfV8EgyPGkfnA54JrhblBFbgVxDN7S6/2hmL9XF/Wjt/XsdQSXjTkYV6QyfavyBfKcU8B/KpDOpC6lgCh5Z5g3aCtyVLxS2wKH2HWOMN4QMHWe/2L9ZxRf3pDve3Bg9mr6GnbndICpptMhp/Wo7OuDkFMiY5EV0DsiWTqu/+H/h
apt_upgrade: true
apt_mirror: http://us.archive.ubuntu.com/ubuntu/
apt_sources:
#  - source: "ppa:ondrej/php"
  - source: "deb http://ppa.launchpad.net/ondrej/php/ubuntu xenial main"
    keyid: E5267A6C
    filename: ondrej-php-ppa.list
  - source: "deb http://ppa.launchpad.net/ondrej/apache2/ubuntu xenial main"
    keyid: E5267A6C
    filename: ondrej-apache2-ppa.list
packages:
  - python-software-properties
  - software-properties-common
  - language-pack-en-base
  - apache2
  - php7.2
  - memcached
  - libmemcached-tools
  - php-pear
  - php7.2-curl
  - php7.2-dev
  - php7.2-gd
  - php7.2-mbstring
  - php7.2-zip
  - php7.2-mysql
  - php7.2-xml
  - mysql-server
  - mysql-client
  - php-memcached
runcmd:
  - update-alternatives --set php /usr/bin/php7.2
  - a2enmod php7.2
  - systemctl restart apache2
  - systemctl restart memcached
  - systemctl restart mysql
